# {{projectname}}

## Getting started

Install dependencies and set up the development environment

```
uv sync
uv add -e .
```

## Development

Run code quality checks before committing:

```
uvx prek run --all-files
```